.main {
  background-color: rgb(243, 249, 249);
  margin: auto;
  width: 60%;
  height: 20%;
  box-shadow: 2px 2px 2px 2px #888888;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}

.photo {
  height: 150px;
  width: 130px;
  border-radius: 100%;
}

.job-title {
  font-weight: 400;
  font-style: italic;
}

.contact-list {
  list-style: none;
}

.contact-list-text {
  text-decoration: none;
  color: black;
}

.contact-list-text:hover {
  color: rgb(32, 32, 218);
}

.main-text {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.content-left-border {
  border-color: rgb(229, 233, 237);

  border-bottom-style: solid;
  border-width: 2px;
  width: 50%;
  text-align: left;
  margin-left: 0;
}

.body-page {
  display: flex;
  border-color: #1f2937;
  border-top: solid;
  border-width: 1px;
  margin-top: 20px;
}

.page-left {
  height: auto;
  text-align: center;

  background-color: rgb(243, 249, 249);
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page-right {
  background-color: #e6e6e6;
  text-align: center;
  flex: 1;
  padding: 1rem;
}

.experience-container {
  background-color: #f9f9f9;
  border-style: solid;
  border-color: #1f2937;
  border-width: 1px;
  border-radius: 6px;
  box-shadow: 2px 2px 1px 1px #888888;
}

.exp-date {
  font-style: italic;
  font-weight: 300;
}

.experience-container-list {
  list-style: none;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-container-list-text {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skills-container-list {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-container-list-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-right-languages {
  display: flex;
  justify-content: space-around;
}

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
}

.education-list {
  display: flex;
  justify-content: center;
}

.education-list-text {
  list-style: none;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .main {
    width: 86%;
    margin-top: 10px;
  }

  .heading {
    display: flex;
    flex-direction: column;
  }

  .photo {
    height: 90px;
    width: 70px;
  }

  .body-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
